html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: .5em 0 0;
}

h1 {
  display: inline-block;
  margin: 0;
}

img {
  padding: .5rem 0;
}

.left {
  float: left;
  width: 40px;
}

.right {
  float: right;
  width: 40px;
}

ul {
  clear: both;
  margin: 0;
  padding: 0;
  border-top: 1px solid #a63f38;
}

.list li {
  list-style-type: none;
  float: left;
  width: 33.3%;
}

.list a {
  display: inline-block;
  padding: .5rem;
  border-right: 1px solid #a63f38;
  border-left: 1px solid #a63f38;
  width: 100%;
}

a:hover {
  background-color: #a63f38;
}

body {
  margin: 0;
}

/* play with the width of the image to float properly, then fix the h2 */
