html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-family: Merriweather, serif;
  text-align: center;
  margin: 0;
  padding-top: .4em;
  padding-bottom: .4em;
  position: absolute;
  width: 100%;
}

li {
  display: inline-block;
  padding: .4rem 0;
}

nav li {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: #d05c2e;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: .4rem 0;
  font-family: Merriweather, serif;
  color: #fff;
}

nav {
  text-align: center;
  padding: 0;
}

ul :hover {
  background-color: #a63f38;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

body {
  color: #d05c2e;
  margin: 0;
}

figure {
  margin: 0;
}

img .left {
  float: left;
  width: 40px;
}

img .right {
  float: right;
  width: 40px;
}

/* play with the width of the image to float properly, then fix the h2 */
