html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: #fff;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: #d05c2e;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: .4rem 0;
  font-family: 'Merriweather', serif;
  color: #fff;
}

nav {
  text-align: center;
}

ul :hover{
  background-color: #a63f38;

}
